<!DOCTYPE html>
<html style="height: auto;">
<head>
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type">

    <title>ClassWeb</title>
    <meta name="csrf-param" content="authenticity_token">



<script src="/statics/assets/js/jquery.self-bd7ddd393353a8d2480a622e80342adf488fb6006d667e8b42e4c0073393abee.js" data-turbolinks-track="reload"></script>
<script src="/statics/assets/js/jquery_ujs.self-784a997f6726036b1993eb2217c9cb558e1cbb801c6da88105588c56f13b466a.js" data-turbolinks-track="reload"></script>
<script src="/statics/assets/js/turbolinks.self-c5acd7a204f5f25ce7a1d8a0e4d92e28d34c9e2df2c7371cd7af88e147e4ad82.js" data-turbolinks-track="reload"></script>
<script src="/statics/assets/js/chart.min.self-0f3216ff9a26ce16943488dba0bfaf965c8c70210719df5478323a32707b4be9.js" data-turbolinks-track="reload"></script>
<script src="/statics/assets/js/app.min.self-c3160ca144036010c32c33e4710310011a7e0cb31e8ea121be97a435bb6e8475.js" data-turbolinks-track="reload"></script>
<script src="/statics/assets/js/bootstrap.min.self-504d59678f10d79a661b6cecdce5b8c1d5bfd98e860614584c0a40399552d61f.js" data-turbolinks-track="reload"></script>
<script src="/statics/assets/js/action_cable.self-1641ec3e8ea24ed63601e86efcca7f9266e09f390e82199d56aa7e4bd50e1aa9.js" data-turbolinks-track="reload"></script>
<script src="/statics/assets/js/cable.self-6e0514260c1aa76eaf252412ce74e63f68819fd19bf740595f592c5ba4c36537.js" data-turbolinks-track="reload"></script>
<script src="/statics/assets/js/dashboard2.self-83ac475ae8ec97d1c2ffc88b4acb90ecd9aa99c37fb9ba33bf7161a3deabeef3.js" data-turbolinks-track="reload"></script>
<script src="/statics/assets/js/articles.self-877aef30ae1b040ab8a3aba4e3e309a11d7f2612f44dde450b5c157aa5f95c05.js" data-turbolinks-track="reload"></script>
<script src="/statics/assets/js/books.self-877aef30ae1b040ab8a3aba4e3e309a11d7f2612f44dde450b5c157aa5f95c05.js" data-turbolinks-track="reload"></script>
<script src="/statics/assets/js/categories.self-877aef30ae1b040ab8a3aba4e3e309a11d7f2612f44dde450b5c157aa5f95c05.js" data-turbolinks-track="reload"></script>
<script src="/statics/assets/js/files.self-877aef30ae1b040ab8a3aba4e3e309a11d7f2612f44dde450b5c157aa5f95c05.js" data-turbolinks-track="reload"></script>
<script src="/statics/assets/js/homeworks.self-877aef30ae1b040ab8a3aba4e3e309a11d7f2612f44dde450b5c157aa5f95c05.js" data-turbolinks-track="reload"></script>
<script src="/statics/assets/js/trends.self-877aef30ae1b040ab8a3aba4e3e309a11d7f2612f44dde450b5c157aa5f95c05.js" data-turbolinks-track="reload"></script>
<script src="/statics/assets/js/videos.self-877aef30ae1b040ab8a3aba4e3e309a11d7f2612f44dde450b5c157aa5f95c05.js" data-turbolinks-track="reload"></script>
<script src="/statics/assets/js/fastclick.min.self-54ab39a03257e1ee84ed761617bddb29c3f70cb35b442a7afc6c6745c9dd9f2f.js" data-turbolinks-track="reload"></script>
<script src="/statics/assets/js/visitors.self-877aef30ae1b040ab8a3aba4e3e309a11d7f2612f44dde450b5c157aa5f95c05.js" data-turbolinks-track="reload"></script>
<script src="/statics/assets/js/icheck.min.self-dac40caad34c601c41825ad621ffd7cd95b615af973f07126f27bff7da3b8250.js" data-turbolinks-track="reload"></script>
<script src="/statics/assets/js/jquery.slimscroll.min.self-519a2269bf99e71f14933dbf44410be815b6891df45b37c53bd83b52802ea11f.js" data-turbolinks-track="reload"></script>
<script src="/statics/assets/js/jquery.sparkline.min.self-d1340dd742e4521127575ed893142d01f7818a8f8e3c5a65bb9074a1ae98e7e2.js" data-turbolinks-track="reload"></script>
<script src="/statics/assets/js/users.self-877aef30ae1b040ab8a3aba4e3e309a11d7f2612f44dde450b5c157aa5f95c05.js" data-turbolinks-track="reload"></script>
<script src="/statics/assets/js/application.self-b89234cf2659d7fedea75bca0b8d231ad7dfc2f3f57fcbaf5f44ed9dc384137b.js" data-turbolinks-track="reload"></script>

<script src="/statics/assets/js/jquery.min.js" type="text/javascript"></script>
<script src="/statics/assets/js/three.min.js" type="text/javascript"></script>

<link media="all" href="/statics/assets/css/other.css" type="text/css" rel="stylesheet">
<link media="all" href="/statics/assets/css/index.css" type="text/css" rel="stylesheet">
</head>
<body class="register-page" style="height: auto;">

  <div class="wall-warp">
    <div class="wall-main">

      <layout></layout>
      <div class="register-box">
        <div class="register-logo">
          <a href="http://i-teacher.net:3001/">
            <b>e</b>Mousika
          </a>
        </div>
        <div class="register-box-body">
          <p class="login-box-msg">Create a new acount</p>

          <form id="new-user" class="new-user" action="/signup/" accept-charset="UTF-8" method="post">
		{% csrf_token %}
            <input name="utf8" value="" type="hidden">
            <input name="authenticity_token" value="Y5BbhT1RhGDYA6jNP2k3PIzHVPi2BrWiH+M2UyO8Zog4nGBd+0l9s+BtiTl7Lflm8Qk5XYKRv6m998qD62RdDQ==" type="hidden">

            <div class="form-group has-feedback">
              <input class="form-control" placeholder="nickname" value="" name="user[nick_name]" id="user_nick_name" type="text">
              <span class="glyphicon glyphicon-user form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
              <input class="form-control" placeholder="e-mail" value="" name="user[email]" id="user_email" type="email">
              <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
              <input class="form-control" autocomplete="off" placeholder="password" name="user[password]" id="user_password" type="password">
              <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
              <input class="form-control" autocomplete="off" placeholder="confirm password" name="user[password]" id="user_password" type="password">
              <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback text-center">
              <p>- 兴趣话题 -</p>
            </div>
	{% for ele in dic %}
            <div class="row">
	 <div class="col-xs-6">
                <div class="checkbox icheck">
                  <label>
                    <input type="checkbox" name={{ele}}> {{ele}}
                  </label>
                </div>
              </div>
              </div>
	{% endfor %}
         <div class="row">
              <div class="col-xs-8"></div>
              <div class="col-xs-4">
                <button class="btn btn-primary btn-block btn-flat" type="submit">sign up</button>
              </div>
            </div>   
          </form>

          <a class="text-center" href="http://http://119.29.246.19:8000/loginpage">Having an acount</a></div></div>


    <script>$('body').addClass('hold-transition register-page')</script>




    </div>
</div>


        <script>$('body').addClass('hold-transition login-page');</script>
<script src="/statics/assets/js/wallbgcanvas.js" type="text/javascript"></script><div id="wall-bg"><span></span><canvas width="2164" height="1196" style="width: 1082px; height: 598px;"></canvas></div>
</body>
</html>
