/* ::::: https://passport.zhihuishu.com/assets/css/base.css ::::: */

html, body, div, strong, span, form, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, table, tr, td, th, tbody, thead, input, textarea, select, fieldset, p, hr { margin: 0px; padding: 0px; }
body { line-height: 16px; color: rgb(0, 0, 0); font-size: 12px; font-family: "Arial","Hiragino Sans GB",微软雅黑,"Helvetica","sans-serif"; font-weight: normal; }
filedset, img { border: 0px none; vertical-align: middle; }
address, em, i, caption, cite, code, th { font-weight: normal; font-style: normal; }
li { list-style: outside none none; vertical-align: bottom; }
h1, h2, h3, h4, h5, h6 { font-weight: normal; font-size: 100%; }
a { text-decoration: none; color: rgb(0, 201, 134); outline: medium none; }
a:hover { text-decoration: underline; color: rgb(0, 201, 134); }
button, input, select, textarea { margin: 0px; border: 0px none; font-weight: inherit; vertical-align: baseline; outline: medium none; }
button, input[type="button"], input[type="text"], select, textarea { background: transparent none repeat scroll 0% 0%; }
button, input { line-height: normal; }
button::-moz-focus-inner, input::-moz-focus-inner { padding: 0px; border: medium none; }
button[disabled], input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0px; }
div { margin: 0px auto; }
.fl { float: left; display: inline; }
.fr { float: right; display: inline; }
.clearfix::after { clear: both; content: "."; display: block; font-size: 0px; height: 0px; line-height: 0; visibility: hidden; }
.clearfix { clear: both; }
/* ::::: https://passport.zhihuishu.com/assets/css/wall.css ::::: */

.wall-body { overflow-x: hidden; }
#wall-bg { position: absolute; top: 150px; left: 0px; z-index: -1; }
#wall-bg span { position: absolute; width: 100%; height: 149px; top: 0px; left: 0px; background: transparent url('aa7df9eb5c77480cb0bd6fac5add0ff5.png') repeat-x scroll 0% 0%; z-index: 10; }
.wall-icon { background-image: url('689dc51e10e14338aba96e7caa8d3be4.png'); }
.wall-logo { width: 148px; height: 131px; background-position: -221px -1px; margin-top: 52px; }
.switch-nav { position: relative; width: 172px; height: 40px; margin-top: 40px; text-align: center; }
.switch-nav a { display: inline-block; width: 52px; height: 38px; line-height: 38px; margin: 0px 16px; font-size: 20px; color: rgb(111, 111, 111); transition: all 0.2s ease-in 0s; }
.switch-nav a:hover { color: rgb(111, 111, 111); text-decoration: none; }
.switch-nav a.cur { color: rgb(0, 200, 150); }
.switch-nav .cur-border-bottom { position: absolute; bottom: 0px; left: 0px; margin-left: 16px; width: 52px; height: 2px; background: rgb(0, 200, 150) none repeat scroll 0% 0%; transition: all 0.1s ease-in 0s; }
.wall-form-ipt-list { border-width: 1px 1px medium; border-style: solid solid none; border-color: rgb(181, 181, 181) rgb(181, 181, 181) currentcolor; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; margin: 20px auto 0px; border-radius: 4px; width: 346px; }
.wall-form-ipt-list li { position: relative; height: 56px; width: 346px; border-bottom: 1px solid rgb(181, 181, 181); }
.wall-form-ipt-list li input { background: rgb(255, 255, 255) none repeat scroll 0% 0%; width: 332px; padding-left: 14px; height: 56px; line-height: 56px; font-size: 16px; color: rgb(81, 81, 81); border-radius: 4px; }
.wall-form-ipt-list li .pic-validate-code { position: absolute; top: 7px; right: 10px; z-index: 3; width: 82px; height: 42px; border-radius: 3px; }
.show-password { position: absolute; top: 20px; right: 15px; width: 29px; height: 18px; background-position: -36px 0px; cursor: pointer; transition: opacity 0.2s ease-in 0s; }
.show-password:hover { opacity: 0.8; }
.show-password-find { position: absolute; top: 20px; right: 15px; width: 29px; height: 18px; background-position: 0px 1px; cursor: pointer; transition: opacity 0.2s ease-in 0s; }
.show-password-find:hover { opacity: 0.8; }
.wall-sub-btn { display: block; margin: 22px auto 0px; width: 346px; height: 48px; line-height: 48px; background: rgb(0, 200, 150) none repeat scroll 0% 0%; border: 1px solid rgb(0, 179, 134); border-radius: 2px; font-size: 18px; color: rgb(255, 255, 255); text-align: center; cursor: pointer; text-shadow: 0px 0px 3px rgb(0, 160, 120); transition: all 0.25s ease-in 0s; }
.wall-sub-btn:hover { background-color: rgb(1, 218, 164); color: rgb(255, 255, 255); text-decoration: none; }
.signin-misc-wrap { width: 348px; height: 18px; margin: 16px auto 0px; }
.signin-misc-wrap .remember-btn { line-height: 18px; height: 18px; font-size: 12px; color: rgb(93, 94, 93); }
.signin-misc-wrap .remember-btn input { font-size: 12px; margin: 0px 8px 0px 0px; }
.signin-misc-wrap .forget-btn { color: rgb(0, 200, 150); }
.other-signin-way-tit { width: 348px; height: 9px; margin-top: 52px; border-bottom: 1px solid rgb(166, 166, 166); }
.other-signin-way-tit span { display: block; margin: -9px auto 0px; width: 144px; height: 18px; border-radius: 9px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; text-align: center; line-height: 18px; font-size: 12px; color: rgb(133, 133, 133); }
.other-signin-way-list { width: 348px; margin: 26px auto 0px; text-align: center; }
.other-signin-way-list li { position: relative; display: inline-block; margin: 0px 34px; }
.other-signin-way-list li a { display: inline-block; width: 39px; height: 39px; }
.signin-way-qq a { background-position: -90px -102px; }
.signin-way-shkuaxiao a { background-position: 0px -102px; }
.other-signin-way-list li span { opacity: 0; position: absolute; top: 53px; left: -41px; width: 118px; height: 31px; transition: all 0.5s ease-in-out 0s; }
.other-signin-way-list li:hover span { opacity: 1; top: 43px; }
.other-signin-way-list .signin-way-qq span { width: 75px; background-position: -123px -24px; left: -18px; }
.signin-way-shkuaxiao span { background-position: 0px -24px; }
.zhs-wall-slogan { width: 348px; height: 18px; line-height: 18px; text-align: center; color: rgb(170, 193, 184); margin: 80px auto 18px; }
.switch-wrap { display: none; }
.switch-wrap.active { display: block; }
.zhs-user-deal { width: 348px; height: 18px; line-height: 18px; font-size: 14px; color: rgb(170, 193, 184); text-align: center; margin: 10px auto 0px; }
.zhs-user-deal a { color: rgb(0, 200, 150); }
.zhs-user-deal a:hover { color: rgb(5, 185, 137); text-decoration: none; }
.download-app-code { position: relative; width: 346px; height: 48px; margin: 44px auto 0px; border: 1px solid rgb(0, 200, 150); border-radius: 2px; color: rgb(0, 200, 150); font-size: 18px; text-align: center; line-height: 48px; cursor: pointer; }
.download-app-code .wall-icon { position: absolute; z-index: 9; opacity: 0; transform: translate(0px, 30px); visibility: hidden; bottom: 58px; left: -12px; width: 369px; height: 384px; background-position: 0px -148px; transition: all 0.2s ease-in 0s; }
.form-ipt-error { background: transparent linear-gradient(to right, rgba(255, 255, 255, 0), rgb(255, 255, 255) 8px) repeat scroll 0px 0px; color: rgb(204, 51, 51); cursor: text; line-height: 56px; opacity: 0; padding: 0px 8px; position: absolute; right: 8px; top: 0px; transform: translate(20px, 0px); transition: all 0.25s ease-out 0s; visibility: hidden; z-index: 2; }
.pw-code-item .form-ipt-error { right: 45px; }
.pic-code-item .form-ipt-error { right: 92px; }
.msg-code-ipt-pop { width: 364px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border-radius: 10px; }
.find-msg-code-ipt-pop { width: 364px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border-radius: 10px; }
.msg-code-ipt-tit { padding-top: 24px; font-size: 20px; color: rgb(102, 102, 102); text-align: center; height: 24px; line-height: 24px; }
.msg-code-instructions { display: block; text-align: center; font-size: 14px; color: rgb(153, 153, 153); height: 18px; line-height: 18px; margin-top: 10px; }
.msg-code-ipt-pop .wall-form-ipt-list { width: 364px; border-radius: 0px; border-width: 1px medium medium; border-style: solid none none; border-color: rgb(216, 224, 224) currentcolor currentcolor; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; }
.msg-code-ipt-pop .wall-form-ipt-list li { border-color: rgb(216, 224, 224); width: 364px; }
.msg-code-ipt-pop .wall-form-ipt-list li input { color: rgb(153, 153, 153); }
.find-msg-code-ipt-pop .wall-form-ipt-list { width: 364px; border-radius: 0px; border-width: 1px medium medium; border-style: solid none none; border-color: rgb(216, 224, 224) currentcolor currentcolor; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; }
.find-msg-code-ipt-pop .wall-form-ipt-list li { border-color: rgb(216, 224, 224); width: 364px; }
.find-msg-code-ipt-pop .wall-form-ipt-list li input { color: rgb(153, 153, 153); }
.wall-sub-btn.wall-sub-btn-jump { width: 144px; height: 34px; line-height: 34px; margin: 24px auto 26px; }
.send-msg-code-btn { position: absolute; top: 0px; right: 0px; width: 118px; height: 56px; background: rgb(242, 242, 242) none repeat scroll 0% 0%; font-size: 16px; text-align: center; line-height: 56px; color: rgb(153, 153, 153); cursor: default; }
.send-msg-email-code-btn { position: absolute; z-index: 3; top: 0px; right: 0px; width: 118px; height: 56px; background: rgb(242, 242, 242) none repeat scroll 0% 0%; font-size: 16px; text-align: center; line-height: 56px; color: rgb(153, 153, 153); cursor: default; }
.msg-ipt-item .form-ipt-error { right: 120px; }
.forget-ipt-pop { position: relative; }
.forget-ipt-pop .fall-back { position: absolute; top: 16px; left: 16px; cursor: pointer; width: 22px; height: 22px; background: transparent url('d00376d6c7f84c3487b3ce16882d9377.png') no-repeat scroll 0% 0%; }
.forget-ipt-pop .fall-back:hover { background-position: 0px -22px; }
/* ::::: https://passport.zhihuishu.com/assets/js/layer/skin/default/layer.css?v=3.0.11110 ::::: */

html #layuicss-skinlayercss { display: none; position: absolute; width: 1989px; }
@media screen and (max-width: 1100px) {
}
